<?xml version="1.0" encoding="ISO-8859-1"?>

<beans>

    <bean class="cn.cs.springframework.beans.factory.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:token.properties"/>
    </bean>

    <bean id="userService" class="cn.cs.springframework.test.bean.UserService">
        <property name="token" value="${token}"/>
        <property name="createDate" value="2022-12-13"/>
    </bean>

    <bean id="conversionService" class="cn.cs.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters" ref="converters"/>
    </bean>
    <bean id="converters" class="cn.cs.springframework.test.converter.ConverterFactoryBean"/>

</beans>
