<?xml version="1.0" encoding="ISO-8859-1"?>

<beans>
    <bean id="userDao" class="cn.cs.springframework.test.bean.UserDao"/>

    <bean id="userService" class="cn.cs.springframework.test.bean.UserService">
        <property name="uid" value="10001"/>
        <property name="company" value="uuc"/>
        <property name="location" value="??"/>
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean class="cn.cs.springframework.test.common.MyBeanPostProcessor"/>
    <bean class="cn.cs.springframework.test.common.MyBeanFactoryPostProcessor"/>
</beans>
